REDIS_URL="redis://127.0.0.1:6379"
DATABASE_URL="postgresql://dartech:dartech@127.0.0.1:5432/dartech_dev?serverVersion=16&charset=utf8"

###> sentry/sentry-symfony ###
SENTRY_DSN=""
APP_VERSION="0.1.0+local"
###< sentry/sentry-symfony ###
