includes:
  - phpstan.ignore.neon
  - vendor/phpstan/phpstan-symfony/extension.neon
  - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
  ignoreErrors:
    - '#Property App\\Entity\\ArtisanProfile::\$id .* never assigned int so it can be removed from the property type#'
    - '#Property App\\Entity\\User::\$id .* never assigned Symfony\\Component\\Uid\\Ulid#'
  level: 5
  paths:
    - src
  symfony:
    # Container XML pour meilleure compréhension du container par PHPStan
    containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

